# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
*.local

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS files
Thumbs.db
db.lock
desktop.ini

# Project specific
client/node_modules/
server/node_modules/
client/dist/
server/dist/
